.containerheader-admin {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  height: 70px;
  border-bottom: 4px solid rgb(255, 212, 0);
}
.nav-links-admin {
  display: flex;
  justify-content: space-around;
  width: 80%;
  text-transform: uppercase;
  z-index: 2;
  overflow: hidden;
}
.nav-links-admin a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease;
  transform: translateX(0%);
}
.nav-links-admin a:hover {
  color: rgb(232, 147, 16);
  letter-spacing: 2px;
}
.burger-admin {
  display: none;
}
.burger-admin div {
  width: 25px;
  height: 3px;
  background: black;
  margin: 5px;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 600px) {
  .containerheader-admin {
    justify-content: space-between;
    padding: 0 5vw;
  }
  .nav-links-admin {
    position: absolute;
    right: 0;
    top: 7.4vh;
    min-height: 50vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0;
    padding: 0;
    transform: translateX(100%);
    transition: All 0.5s ease-in;
  }
  .nav-links-admin a {
    opacity: 0;
  }
  .burger-admin {
    display: block;
  }
  .nav-active-admin {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 460px) {
  .nav-links-admin {
    width: 100%;
    transition: All 0.5s ease;
  }
}
.nav-active-admin {
  transform: translateX(0);
}
@keyframes navLinkFade-admin {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle-admin .line1-admin {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle-admin .line2-admin {
  opacity: 0;
}
.toggle-admin .line3-admin {
  transform: rotate(45deg) translate(-5px, -6px);
}
.logoimg-admin {
  max-width: 100px;
  max-height: 100px;
  display: flex;
  align-items: center;
}
