.container-find-us{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}
.div-find-us{
    padding-right: 20px;
} 
.image-find-us{
  width: 100%;
  display: flex;
  text-align: center;
}
.logo-find-us{
    width: 100px;
    margin: auto;
    padding-bottom: 25px;
}

.div-find-us h3{
    font-size: xx-large;
}
#title-find-us{
    text-align: center;
}
#schedule-find-us{
    padding-bottom: 25px;
    text-align: center;
}

.txt-find-us{
    padding-top: 5px;
    font-size: 14px;
}
#map-iframe{
    width: 950px;
    height: 600px;
    border: 1;
}
@media screen and (max-width: 1340px) {
    .container-find-us{
    display: flex;
    flex-direction: column;
    }
    #map-iframe{
        width: 500px;
        height: 250px;
        margin-top: 20px;
    }
    
}
@media screen and (max-width: 600px) {
    .container-find-us{
        display: flex;
        flex-direction: column;
    }
    .div-find-us{
        padding-right: 0px;
    } 
    #map-iframe{
        width: 300px;
        height: 200px;
        margin-top: 20px;
    }
    .div-find-us{
        padding-right: 0px;
    } 
}