.confirmation-reservation{
    text-align: center;
    color: black;
    margin-top: 330px;
    font-size: 40px;
}
#error-mailto-resa2, #ok-mailto-resa2{
    font-size: 20px;
    width: 20%;
    text-align: center;
    margin-left: 650px;
}
#error-mailto-resa2{
    color:red;
}
