.add-biere, .show-resa, .mb-3, .connectadmin  {
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.form-labeladmin{
    padding-right: 20px;
}

li{
    list-style-type: none;
}

.adminformu p{
    color: black;
    text-align: center;
}