.form-resa{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reserv{
    width: 120px;
    height: 40px;
    font-size: x-large;
}
.submit-resa{
    text-align: center;
}
.form-resa input, .form-resa textarea{
    margin-top: 10px;
    padding: 5px;
    width: 250px;
    font-size: 16px;
}
.form-resa input[type="submit"] {
    text-align: center;
    width: auto;
    padding: 0px 10px 0px 10px;
}
.ok-mailto-resa{
    color: green;
    font-size: 20px;
    width: 20%;
    text-align: center;
    margin-left: 650px;
}
.error-mailto-resa{
    color: red;
    font-size: 20px;
    width: 20%;
    text-align: center;
    margin-left: 650px;
}
@media screen and (max-width: 900px) { 
    .div-form-resa {width: 300px;}
}
@media screen and (max-width: 600px) {
    .div-form-resa {width: 300px;}
}