.container-homepage {
  margin: 15px;
}
.texte-pub {
  font-size: smaller;
  padding: 10px;
}
@media screen and (min-width: 900px) {
  .container-homepage {
    margin-top: 50%;
    display: flex;
    font-size: larger;
    align-items: center;
  }
}
